/*bootstarp重新定义*/
*{font-family: "微软雅黑", "宋体";}
.table{margin-bottom:0px;table-layout:fixed;}
p{margin-bottom:0px;border-left:1px solid #c5ddfa;border-right:1px solid #c5ddfa;}
.table th,.table td{line-height:14px;}
.table-bordered{border-collapse:collapse;border-color:#c5ddfa;}
.table-bordered th,.table-bordered td{border-left:1px solid #c5ddfa;border-bottom:1px solid #c5ddfa;}
.text-center{color:#00457d;}
/*2列*/
.Col2>tbody>tr>td:nth-child(1){width:13%;background-color:#E1F3FF;color:#00457d;text-align:right;}
.Col2>tbody>tr>td:nth-child(2){width:87%;}

/*4列*/
.Col4>tbody>tr>td:nth-child(1){width:13%;background-color:#E1F3FF;color:#00457d;text-align:right;}
.Col4>tbody>tr>td:nth-child(2){width:37%;}
.Col4>tbody>tr>td:nth-child(3){width:13%;background-color:#E1F3FF;color:#00457d;text-align:right;}
.Col4>tbody>tr>td:nth-child(4){width:37%;}

/*6列*/
.Col6>tbody>tr>td:nth-child(1){width:13%;background-color:#E1F3FF;color:#00457d;text-align:right;}
.Col6>tbody>tr>td:nth-child(2){width:20.3%;}
.Col6>tbody>tr>td:nth-child(3){width:13%;background-color:#E1F3FF;color:#00457d;text-align:right;}
.Col6>tbody>tr>td:nth-child(4){width:20.3%;}
.Col6>tbody>tr>td:nth-child(5){width:13%;background-color:#E1F3FF;color:#00457d;text-align:right;}
.Col6>tbody>tr>td:nth-child(6){width:20.3%;}

/*页面附加公共样式*/
.BigTitle{line-height:34px;}
.BigTitle>span{text-align: center;display: inline-block;}
.Title{background:url(../img/module.gif) no-repeat 5px center;text-indent:28px;line-height:34px;}
.Title a span{margin:0 5px;}
.Title a:hover{text-decoration:none;}
.Lists{background:url(../img/openview.gif) no-repeat 5px center;text-indent:20px;line-height:34px;}

/*通用表格currencyTable*/
.currencyTable thead th{background-color: #E1F3FF;}
.noBG{background-color: #fff!important;}
.noBorder{border:none!important;}



/*冲突样式修改*/
.processing>tbody>tr>th{width:13%!important;background-color:#E1F3FF;color:#00457d;text-align:right;line-height: 37px;border: 1px solid #c5ddfa;}
.processing>tbody>tr>td{width:37%!important;border: 1px solid #c5ddfa;}
.input-prepend>input{width: 80%!important;}
.table>td>input{width: 70%!important;}

/*btn按钮*/
button[type="button"]
{
  	padding: 0px 5px;
    margin-left: 5px;
    font-size: 12px;
    background-color: #E1F3FF;
    color: #00457d;
    border: 1px solid #c5ddfa;
}

/*禁用样式*/
input:disabled{
    border: none;
    background-color: #FFF;
    outline:none;
    box-shadow: none;
}
/*//IE8-*/
input[disabled]{
    border: none;
    background-color: #FFF;
    outline:none;
    box-shadow: none;
}



/*使用说明*/

/*作用：页面任意伸缩保证首格对齐*/

/*
首先引入样式库
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/tableDemo.css">

参数说明：
为展现表格加上类名table－－－－－<table class="table">
需要边款 table-bordered－－－－<table class="table table-bordered">
根据需要控制表格列－－－－－－－－<table class="table table-bordered Col4">
Col2 －－4列
Col4 －－4列
Col6-－－2列

通用表格
使用类为currencyTable－－<table class="table table-bordered currencyTable">
.noBG --- 单元格中背景为白色   <td class="noBG"></td>
.noBorder ---单元格中没有边款  <td class="noBorder"></td>

居中文本标题 使用p标签 添加BigTitle text-center 类名－－－<p class="BigTitle text-center">采购订单评审申请</p>
小标题 使用p 添加Lists类名－－<p class="Lists">流程信息</p> 

*/






