*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}

input:-ms-input-placeholder{
    color: #ccc;
}

input::-webkit-input-placeholder{
    color: #ccc;
}
body,html{height: 100%;}
.container{width: 100%;height:100%;overflow: hidden;}
.loginBar_l{width: 67.5%;height: 100%;background:url(../loginBar_l.png) no-repeat center;}
.loginBar_r{width: 32.5%;height: 100%;position: relative;}
.loginBar_r form{display: table;padding-bottom: 45px;width: 100%;height: 100%;padding-bottom: 45px;position: relative;}
.form_bar{display: table-cell;vertical-align: middle;width: 100%;padding:0 22%;}
.form_bar .img_box{text-align: center;width: 100%;float: left;}
.form_bar .img_box img{width: 93%;}
.usr,.pwd{line-height: 48px;border:1px solid #dedede;width: 100%;margin:0 auto;height: 48px;float: left;overflow: hidden;position: relative;}
.usr{margin-top: 23px;margin-bottom: 18px;}
.usr .iconfont{margin:0 14px;position: relative;top: 0px;float: left;position: absolute;left:0;}
.pwd .iconfont{margin:0 14px;position: relative;top: 0px;font-size: 20px;float: left;position: absolute;left:0;}
.pwd{margin-bottom: 30px;}
.form_bar input[type="text"],.form_bar input[type="password"]{font-size: 16px;color: #ccc;float: left;line-height: 48px;
	padding-left: 44px;padding-right: 20px;width: 100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.btn_login{width: 100%;height: 50px;line-height: 50px;font-size: 20px;color: #fff;text-align: center;border:0;display: inline-block;
	background: #469ede;box-shadow: 0 0 10px 0 rgba(8, 112, 215, 0.35);-moz-box-shadow:0 0 10px 0 rgba(8, 112, 215, 0.35);
	-webkit-box-shadow:0 0 10px 0 rgba(8, 112, 215, 0.35);}
.tip{position: absolute;bottom: 30px;text-align: center;color: #888;width: 100%;font-size: 12px;left:0;width: 100%;text-align: center;}
@media (max-width: 1400px) {
.usr,.pwd{line-height: 42px;height: 42px;}
.form_bar input[type="text"],.form_bar input[type="password"]{line-height: 42px;}
.btn_login{height: 42px;line-height: 42px;font-size: 16px;}
}

